/* Brit uses % for almost everything, and rems for fonts and ocassionaly
 vh for heights */
* {
  box-sizing: border-box; /* When I give you a width, respect the width
  I've given you, if I add padding or a border apply it within that width not
  in addition to */
  padding: 0;
  margin: 0;
  max-width: 100%; /* you can never be bigger thatn your parents*/
  /* border: 1px solid grey; */
}

/* General Styles */
html {
  /* The defaul browser font-size is 16px this makes it so that 1 rem,
  is equal to 10px. Accesible */
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  line-height: 1.5;
  color: #525252;
}

a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 1s;
}

a:hover {
  color: rgba(43, 255, 0, 0.57);
}

h1, h2 {
  letter-spacing: 3px;
  font-size: 2.5rem;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

section {
  padding: 4% 0;
}

/* Header section styles */
nav {
  padding: 1% 0;
  background-color: rgba(39, 159, 159, 0.71);
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

/* Home section Styles */
#home {
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-image: url(./laptop2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#home h1 {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px 20px 0 0;
  width: 32rem;
}

#home h2 {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 20px 20px;
}

#home button {
  color: #ffffff;
  padding: 3% 5%;
  border-radius: 10px;
  border:2px solid rgba(255, 255, 255, 1);
  transition: 1s;
  background-color: rgba(128, 128, 128, 0.47);
}

#home button:hover {
  background-color: #ffffff;
  color: #4f4f4f;
}

#home div h2 {
  margin-bottom: 2rem;
}

.add-pointer-to-button {
  cursor: pointer;
}

.fade:hover {
  color: red;
  cursor: pointer;
}

/* About Section */
#about {
  background-color: rgb(39, 159, 159);
  text-align: center;
}

#about div {
  width: 50%;
  margin: 0 auto;
  padding: 1% 2% 3% 2%;
  border: 3px solid #506960;
  background-color: #fff;
  border-radius: 3rem;
}

#about div h2 {
  margin-bottom: 2rem;
}

#contact {
  background-color: rgb(39, 159, 159);
  color: #fff;
  text-align: center;
  padding: 0 0 5rem 0;
}

#contact p {
  width: 50%;
  margin: 2rem auto;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  width: 60rem;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid #506960;
}

form textarea {
  width: 60rem;
  height: 10rem;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid #506960;
}

form button {
  width: 20rem;
  height: 4rem;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid rgb(39, 159, 159);
  font-size: 1.8rem;
  background-color: rgba(34, 126, 120, 0.5);
  color: #fff;
  transition: 1s;
}

form button:hover {
  background-color: rgb(227, 227, 227);
  color: rgb(84, 84, 84);
}

/* Footer Section */
footer {
  background-color: rgb(23, 134, 134);
  color: #fff;
  text-align: center;
}

.icons-footer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem 0;
}

footer ul li {
  list-style: none;
  margin: 1rem 0 0 0;
  width: 10rem;
  text-align: center;
  align-content: center;
}
